<div class="container">
    <h5>View Item</h5>
  
    <a href="/item/index" routerLink="/item/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>Item No:</strong>
        <p>{{ item.itemNo }}</p>
    </div>
   
    <div>
        <strong>Item Name:</strong>
        <p>{{ item.itemName }}</p>
    </div>
   
    <div>
        <strong>Item Desc:</strong>
        <p>{{ item.itemDesc }}</p>
    </div>
   

    <div>
        <strong>Category:</strong>
        <p>{{ item.categoryId }}</p>
    </div>
   
    <div>
        <strong>Quantity:</strong>
        <p>{{ item.quantity }}</p>
    </div>
   
    <div>
        <strong>Price:</strong>
        <p>{{ item.price }}</p>
    </div>
    
</div>